@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #000; }

html {
  height: 100%; }

a {
  color: #a5732a;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  a:hover {
    outline: none;
    text-decoration: none;
    color: #dab074; }
  a:focus {
    outline: none;
    outline-offset: 0; }

ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

h1 {
  color: #686868; }

h2 {
  color: #686868;
  font-size: 24px; }

h3 {
  font-size: 18px; }

.overflow {
  overflow: hidden; }

.uppercase {
  text-transform: uppercase; }

.btn-common {
  font-size: 14px;
  color: #797979;
  border: 1px solid #dbb075;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 10px 25px; }

#action .col-sm-5 {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0; }

.btn-common:hover, .btn-common:focus {
  outline: none;
  background: none;
  box-shadow: none;
  color: #d29948; }

.align-right {
  text-align: right; }

.inline {
  display: inline-block; }

.padding {
  padding: 65px 0; }

.padding-bottom {
  padding-bottom: 65px; }

.padding-top {
  padding-top: 90px; }

.padding-right {
  padding-right: 80px; }

.padding-left {
  padding-left: 80px; }

.margin-bottom {
  margin-bottom: 35px; }

/*************************
*******Header******
**************************/
#header {
  margin-bottom: 0;
  padding: 30px 0 60px 0; }
  #header .navbar-inverse .container {
    position: relative; }

.social-icons ul li {
  padding: 0 10px; }
  .social-icons ul li:last-child {
    padding-right: 0; }
  .social-icons ul li a {
    font-size: 18px;
    color: #d3d3d3;
    padding: 0; }
    .social-icons ul li a:hover, .social-icons ul li a:focus {
      color: #dbb075;
      background: none; }

#header .navbar {
  background: #fff;
  border: 0;
  margin-bottom: 0; }
#header .navbar-toggle {
  margin-top: 20px; }
#header .navbar-brand {
  padding: 0;
  margin-left: 0; }
  #header .navbar-brand h1, #header .navbar-brand h2 {
    padding: 0;
    margin: 0; }
#header .navbar-nav.navbar-right > li a  {
  color: #000;
  font-size: 12px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 300; }
#header .navbar-nav.navbar-right > li:last-child {
  margin-right: 20px; }
#header .navbar-inverse .navbar-nav li a:hover {
  color: #d29948; }
#header .navbar-inverse .navbar-nav li.active > a {
  background-color: inherit;
  border: 0;
  color: #d29948; }
  #header .navbar-inverse .navbar-nav li.active > a:focus {
    background-color: inherit;
    border: 0;
    color: #d29948; }
#header .navbar-nav li ul.sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0; }
  #header .navbar-nav li ul.sub-menu li a {
    color: #818285;
    padding: 5px 0;
    font-size: 13px;
    display: block;
    text-transform: capitalize; }
  #header .navbar-nav li ul.sub-menu li:hover, #header .navbar-nav li ul.sub-menu li:focus {
    background: #fef7ee;
    color: #d29948; }
  #header .navbar-nav li ul.sub-menu li .active {
    background: #fef7ee;
    color: #d29948;
    position: relative; }
    #header .navbar-nav li ul.sub-menu li .active i {
      position: absolute;
      font-size: 56px;
      top: -13px;
      color: #dab074; }
    #header .navbar-nav li ul.sub-menu li .active .fa-angle-right {
      left: -3px; }
    #header .navbar-nav li ul.sub-menu li .active .fa-angle-left {
      right: -3px; }
#header .navbar-inverse .navbar-nav li.active > a {
  background-color: inherit;
  border: 0;
  color: #d29948; }
  #header .navbar-inverse .navbar-nav li.active > a:focus {
    background-color: inherit;
    border: 0;
    color: #d29948; }
#header .navbar-nav.navbar-right li > a:hover {
  background-color: inherit;
  border: 0;
  color: #d29948; }

.navbar-inverse .navbar-nav > .open > a {
  background-color: inherit;
  border: 0;
  color: #d29948; }

#home-slider {
  margin-bottom: 0;
  padding: 30px 0 60px 0;
  background-image: url(../images/home/slider-bg.png);
  background-size: 0 100%;
  background-repeat: no-repeat;
  background-position: center; }
  #home-slider .main-slider {
    position: relative;
    height: 450px; }
  #home-slider .slide-text {
    position: absolute;
    top: 50px;
    left: 0;
    width: 450px; }
  #home-slider .slider-house {
    right: 0;
    bottom: 0;
    position: absolute; }
  #home-slider .slider-circle1 {
    right: 430px;
    bottom: 210px;
    position: absolute; }
  #home-slider .slider-circle2 {
    right: 420px;
    bottom: 245px;
    position: absolute; }
  #home-slider .slider-cloud1 {
    right: 290px;
    bottom: 250px;
    position: absolute; }
  #home-slider .slider-cloud2 {
    right: 375px;
    bottom: 330px;
    position: absolute; }
  #home-slider .slider-cloud3 {
    right: 75px;
    bottom: 300px;
    position: absolute; }
  #home-slider .slider-sun {
    right: 190px;
    bottom: 300px;
    position: absolute; }
  #home-slider .slider-cycle {
    right: 500px;
    bottom: 0;
    position: absolute; }

@media only screen and (max-width: 768px) {
  #header {
    padding-bottom: 40px;
    padding-top: 10px; }

  .navbar-right {
    text-align: left; }

  .navbar .navbar-inverse {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px; }

  #home-slider {
    margin: 50px 20px; }
    #home-slider .main-slider {
      height: 500px; }
    #home-slider .slide-text {
      top: 0;
      width: 100%;
      text-align: center; }
    #home-slider h1 {
      font-size: 22px; }
    #home-slider p {
      line-height: 1.5; } }
@media only screen and (max-width: 480px) {
  #home-slider .slider-circle1 {
    right: 80%;
    bottom: 100px;
    width: 15px; }
  #home-slider .slider-circle2 {
    right: 78%;
    bottom: 120px;
    width: 10px; }
  #home-slider .slider-cloud1 {
    right: 140px;
    bottom: 140px;
    width: 60px; }
  #home-slider .slider-cloud2 {
    right: 210px;
    bottom: 190px;
    width: 70px; }
  #home-slider .slider-cloud3 {
    right: 35px;
    bottom: 180px;
    width: 70px; }
  #home-slider .slider-sun {
    right: 120px;
    bottom: 180px;
    width: 60px; } }
#services .single-service {
  overflow: hidden;
  display: block; }

.mgt-6 {
  margin-top: 25px; }

#action {
  position: relative;
  background-image: url(../images/home/tour-bg.png); }
  #action .btn-common {
    position: absolute;
    left: 0;
    margin-top: 155px;
    float: left; }
  #action .tour-button {
    background-image: url(../images/home/tour-icon2.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: 151px 100px; }

@media only screen and (max-width: 768px) {
  #action.responsive {
    height: 255px; }

  .action.take-tour {
    margin-top: -95px; }

  .action.take-tour .col-sm-7 {
    width: 100%;
    text-align: center; }

  h1 {
    font-size: 22px; }

  .action.take-tour .col-sm-5 {
    width: 100%;
    margin-top: 120px; } }
#features .single-features {
  margin: 5px 0; }
#features img {
  position: absolute; }

@media only screen and (max-width: 768px) {
  #features .single-features {
    padding-bottom: 0;
    padding-top: 30px; }
    #features .single-features * {
      display: inline-block;
      text-align: center;
      position: relative; }
    #features .single-features img {
      margin-bottom: 25px;
      position: relative;
      width: 100%;
      height: 100%; } }
#clients img {
  margin: auto; }

#footer {
  background-image: url(../images/home/footer.png);
  background-repeat: no-repeat;
  background-position: 0 200px; }
  #footer .btn-submit {
    background-color: #d29948;
    color: white; }
  #footer .form-control {
    border: 1px solid #d29948; }
  #footer .media-body {
    position: relative; }
  #footer blockquote:after {
    position: absolute;
    left: 5px;
    top: 20px;
    content: '"';
    font-size: 40px;
    color: #d29948;
    font-family: 'Noto Sans', sans-serif;
    line-height: 0; }
  #footer blockquote:before {
    position: absolute;
    right: 30px;
    top: 60px;
    content: '"';
    font-size: 40px;
    color: #d29948;
    font-family: 'Noto Sans', sans-serif;
    line-height: 0; }

@media only screen and (max-width: 768px) {
  #footer {
    background-position: bottom;
    background-size: 100%; } }

/*# sourceMappingURL=main.css.map */
